*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f4;
    padding: 20px;
    border-bottom: 2px solid #ccc;
    gap:10px
}

#headerLogo{
    width: 80px;
    height: auto;
    border-radius: 50%;
}

nav{
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    gap: 10px;

}

button{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.section1{
    background-image: url("./images/sheepInSnow.jpg");
    width: 100%;
    height: 400px;
}
.section2{
    background-image: url("./images/sheep-in-snow.jpg");
    width: 100%;
    height: 400px;
}
.section3{
    background-image: url("./images/xmasSheep.jpg");
    width: 100%;
    height: 400px;
}

.interactiveBox{
    width: 200px;
    height: 200px;
    position: relative;
    top: 20px;
    left: 10%;
    background-color: lightblue;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subTitleH3{
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 24px;
    font-weight: bold;
}

.para1{
    position: absolute;
    top: 100px;
    left: 20px;
    font-size: 16px;
}

.button1{
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.para2{
    position: absolute;
    top: 70px;
    left: 20px;
    font-size: 16px;
}

.button2{
    position: absolute;
    bottom: 10px;
    left: 20px;
}
.para3{
    position: absolute;
    top: 100px;
    left: 20px;
    font-size: 16px;
}

.button3{
    position: absolute;
    bottom: 20px;
    left: 20px;
}