*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#headerLogo{
    width: 80px;
    height: auto;
    border-radius: 50%;
}

nav{
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

section1{
    background-image: url("./images/sheepInSnow.jpg");
}